@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --pri: #1e231e;
    --sec: #77ada2;
    --gris: #acbcae;
    --blanco: #ffff;
    --palido: rgba(223, 234, 223, 0.733);
}

* {
    box-sizing: border-box;
    transition: 0.3s ease;
}
h2 {
    text-align: center; color: var(--pri);
    margin-top: 50px;
}
.inventario {
    width: 100%;
    padding: 25px;
    margin-bottom: 50%;
}
body {
    background-color: var(--palido);
    font-family: Poppins;
}
.bottom-menu {
    width: 100%; display: flex; justify-content: space-around;
    position: fixed; bottom: 0px; padding: 30px;
    background-color: var(--blanco); left: 0;
    border-radius: 15px 15px 0;
    color: var(--pri); height: 120px;
}
.bottom-menu button {
    padding: 10px; width: 60px; height: 60px;
    background: none; border: none;
    font-size: 1.5rem;
}
.seleccion {
    background-color: var(--sec) !important;
    border-radius: 50%; color: var(--blanco);
    margin-top: -50px;
}
.ventana{
    background-color: var(--blanco); width: 80%;
    margin: 50% auto; padding: 30px;
    border-radius: 15px;
}
.papel {
    background-color: var(--blanco); width: 80%;
    margin: 30% auto; padding: 30px;
    border-radius: 15px;
    margin-bottom: 60%;
}
.papel {
    color: var(--pri);
}
.papel button {
    background-color: var(--pri); color: var(--blanco);
    padding: 15px; width: 100%; border: none;
    border-radius: 15px;
}
.item-ticket {
    padding: 10px; width: 100%;
    margin-bottom: 15px; display: flex;
    justify-content: space-between; align-items: center;
    font-size: 1rem; 
}
.ventana input {
    background-color: var(--blanco); border: none;
    color: var(--pri); padding: 15px;
    box-shadow: 0 0 10px rgba(41, 45, 41, 0.212);
    border-radius: 15px; margin: 15px 0;
    width: 100%;
}
.ventana button {
    background-color: var(--sec); color: var(--blanco);
    padding: 15px; font-size: 1.5rem; border: none;
    border-radius: 15px; width: 100%;
    margin-top: 15px;
}
.alerta {
    color: var(--sec);
    text-align: center
}
.item-producto {
    background-color: var(--blanco); display: flex;
    flex-direction: column;
    padding: 20px; border-radius: 15px;
    justify-content: space-between; align-items: center;
    margin-top: 20px; font-size: 1.3rem;
}
.item-producto button {
    background-color: var(--sec);
    color: var(--blanco); padding: 20px;
    border: none; border-radius: 15px;
    width: 100%; margin-top: 25px;
    font-size: 1rem;
}
.buscador {
    width: 100%; padding: 25px; color: var(--pri);
}
#buscador-stock {
    background-color: var(--blanco);
    padding: 15px; margin: 25px auto;
    width: 100%; border: none;
    border-radius: 10px;
}
.descuento {
    width: 100%; display: flex; justify-content: space-between;
    align-items: center; color: var(--pri);
    margin-top: -35px;
}
.descuento input {
    background-color: var(--blanco);
    width: 30%; padding: 15px; border: none;
}
